@use "../../styles/variables.scss" as v;
@use "../../styles/colors.scss" as c;

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__label {
    border: 2px solid c.$dark-primary;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    font-weight: 700;
    color: c.$dark-primary;
  }

  input {
    display: none;

    &:checked + label {
      border-color: c.$primary;
      background-color: c.$primary;
    }
  }

  &__spacer {
    width: 2rem;
    margin: 0 -0.5rem;
    height: 4px;
    background-color: c.$dark-primary;
  }
}
