@use "../../styles/colors.scss" as c;
@use "../../styles/variables.scss" as v;

.container {
  background-color: c.$secondary;
  border: 2px solid c.$transparent-dark-secondary;
  border-radius: 32px;

  &__input-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;

    &:focus-within {
      outline: 2px solid c.$primary !important;
      border: none !important;
      border-radius: 32px;
    }

    & > svg {
      @include v.transition([filter]);
      &:hover {
        filter: brightness(1.2);
      }
    }

    input {
      flex: 1;
      height: 100%;
      background: unset;
      border: none;
      outline: none;
      border-bottom-left-radius: v.$input-border-radius;
      border-bottom-right-radius: v.$input-border-radius;
      padding: v.$input-padding;
      width: 100%;
      font-size: medium;
      color: c.$dark-secondary;
      font-weight: 700;
      text-align: center;
    }
  }
}
