$primary: #f6a10f;
$dark-primary: #ca530f;
$darker-primary: #522206;

$secondary: #f6eddd;
$dark-secondary: #caa089;
$transparent-dark-secondary: #caa08977;
$darker-secondary: #524137;

$red: #f6260f;
