$input-border-radius: 8px;
$input-padding: 1rem;

$button-border-radius: 32px;
$button-padding: 1rem 1.5rem;

@mixin transition($properties: [all]) {
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  @each $property in $properties {
    transition-property: $property;
  }
}

@mixin stale-animation {
  animation: stale-beating 800ms ease-in infinite none;
}

@keyframes stale-beating {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

$z-Select__options: 100;
