@use "../../styles/colors.scss" as c;
@use "../../styles/variables.scss" as v;

.container {
  display: flex;
  gap: 1rem;
  width: 320px;

  &__quantity-input {
    flex: 1;
  }

  &__add-to-cart {
    flex: 1;
  }

  &__remove-from-cart {
    border-radius: 100%;
    padding: 1rem;
    @include v.transition([color border]);
    &:hover {
      color: c.$red;
      border: 2px solid c.$red;
    }
  }
}
