@use "../../styles/colors.scss" as c;
@use "../../styles/variables.scss" as v;

.container {
  position: relative;
  background-color: c.$secondary;
  border: 2px solid c.$transparent-dark-secondary;
  border-radius: v.$input-border-radius;

  label {
    display: block;
    padding: 8px;
    border-bottom: 1px solid c.$transparent-dark-secondary;
    border-top-left-radius: v.$input-border-radius;
    border-top-right-radius: v.$input-border-radius;
    color: c.$dark-secondary;
    font-size: small;
    font-weight: 700;
  }
}

.label__required {
  color: c.$dark-primary;
}

.input-container {
  input {
    background: unset;
    border: unset;
    border-bottom-left-radius: v.$input-border-radius;
    border-bottom-right-radius: v.$input-border-radius;
    padding: v.$input-padding;
    width: 100%;
    font-size: medium;
    color: c.$dark-secondary;
    font-weight: 700;
    outline-color: c.$primary;
    cursor: pointer;
  }
}

.options {
  position: absolute;
  width: 100%;
  border-top: 1px solid c.$transparent-dark-secondary;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: medium;
  max-height: 6 * 44px;
  overflow-y: auto;
  background-color: c.$secondary;
  border: 2px solid c.$transparent-dark-secondary;
  border-radius: v.$input-border-radius;
  box-shadow: 0px 0px 12px 4px c.$dark-secondary;

  & li {
    padding: 12px 16px;
    color: c.$dark-secondary;
    cursor: pointer;
    list-style: none;
    @include v.transition;

    &:hover {
      background-color: c.$dark-secondary;
      color: c.$secondary;
    }
  }
}

.error {
  border-top: 1px solid c.$transparent-dark-secondary;
  padding: 8px;
  font-size: small;
  color: c.$dark-secondary;
}
