@use "../../styles/colors.scss" as c;
@use "../../styles/variables.scss" as v;

.container {
  aspect-ratio: 3/5;
  border-radius: 32px;
  background-color: c.$primary;
  color: c.$dark-primary;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  font-weight: 700;
  cursor: pointer;
  @include v.transition([box-shadow]);

  &:hover {
    box-shadow: 0px 0px 32px -4px c.$primary;
  }
}
