@use "../../styles/variables.scss" as v;
@use "../../styles/colors.scss" as c;

.link {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: v.$input-border-radius;
  cursor: pointer;
  padding: v.$button-padding;
  font-weight: 700;
  font-size: medium;
  transition: filter 200ms ease-out;

  &:hover {
    filter: brightness(1.1);
  }
}

.transparent {
  color: c.$primary;
}

.filled {
  border: 2px solid c.$dark-primary;
  background-color: c.$primary;
  color: c.$dark-primary;
}

.outlined {
  border: 2px solid c.$primary;
  color: c.$primary;
}
