@use "../styles/colors.scss" as c;
@use "../styles/variables.scss" as v;

.html {
  background-color: black;
  color: white;
  height: 100%;

  & * {
    box-sizing: border-box !important;
  }

  body {
    margin: 0 !important ;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  & a {
    text-decoration: none;
    cursor: pointer;
    transition: filter 200ms ease-out;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.content {
  flex: 1;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px;
  & > * {
    flex: 1;
    max-width: fit-content;
    &:first-child {
      margin-left: 32px;
    }
  }
  &__current-category {
    display: flex;
    align-items: center;
    margin: 0 16px;
    color: c.$primary;
    &__name {
      font-size: xx-large;
      font-weight: 700;
      cursor: default;
    }
  }
}

.products-filters {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;

  &--stale {
    @include v.stale-animation();
  }

  & > * {
    flex: 280px 2 1;
    max-width: 320px;
  }
}

.pagination {
  align-self: center;

  &--stale {
    @include v.stale-animation();
  }
}
