@use "../../styles/colors.scss" as c;
@use "../../styles/variables.scss" as v;

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  padding: 4rem 0;
  overflow: hidden;
}

.attribute-options {
  & input {
    display: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;

    &__key {
      font-weight: 500;
      color: c.$secondary;
      margin: 0 0.5rem;
    }

    &__value {
      display: block;
      border: 1px solid c.$dark-primary;
      border-radius: 8px;
      padding: 1rem;
      color: c.$dark-primary;
      font-weight: 700;
      cursor: pointer;

      &--selected {
        border-color: c.$primary;
        background-color: c.$primary;
      }
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__image {
    object-fit: contain;
    max-width: 100vw;
    border-radius: 32px;
    border: 2px solid c.$primary;
  }

  &__image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    &__image-thumbnail {
      aspect-ratio: 1;
      position: relative !important;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
      border: 2px solid transparent;

      &--selected {
        border-color: c.$primary;
      }
    }
  }

  &__name {
    color: c.$primary;
    text-align: center;
  }

  &__price {
    padding: 0 1rem;
  }
}
